<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>PampasBotz</title>
</head>

<body>
    <!-- Barra de navegação -->
    <div class="navbar">
        <a href="#sobre-nos">Sobre Nós</a>
        <a href="#categorias-e-robos">Categorias e Robôs</a>
        <a href="#integrantes">Integrantes</a>
        <a href="#contato">Contato</a>
    </div>
    
    <!-- Conteúdo principal -->
    <div class="container">
        {{ content }} <!-- Conteúdo do Markdown será inserido aqui -->
    </div>
</body>
</html>
